body {
    margin: 60px auto;
    width: 70%;
    background-image: linear-gradient( 109.5deg,  rgba(233,68,212,0.47) 33%, rgba(252,224,115,1) 76.4%, rgba(255,255,255,0.30) 101.6% );
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul, footer ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration: underline;
    
}
h1 {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
}
p {
    
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    color: #FFFFFF;
    
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 3em;
}

ul.posts li {
    list-style: none;
}
